*{
font-family: 'Pacifico';
}

body{
  background: linear-gradient(to right, #64B5F6, #FFFFFF);
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form{
  display: flex;
  gap: 5px;
}

input{
  border-radius: 50px ;
  border-style: none;
  padding: 5px;
}

button{
  border-radius: 50px;
  border-style: none;
  transition: box-shadow 0.3s ease;
}

button:hover{
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container_city{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container_weather{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.logo_container{
  display: flex;
  gap: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

h3{
  background-image: linear-gradient(to right, yellow, white);
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

